.wrapper {
    height: 60px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: transparent;
    z-index: 9;
}

.container {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 110px;
    height: 60px;
}

.btn {
    color: white;
    background-color: #e50914;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 7px 12px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: #de595f;
    }
}
