@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --text: black;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand';
    font-size: 1.6rem;  
    background: #141414;
    overflow-x: hidden;
}

a,
button {
    text-decoration: none;
    border: none;
}
