.wrapper {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:6px;
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;

    .image {
        height: 100%;
    }

    .content {
        padding-left: 12px;
        font-size: 1.6rem;
        color: #ccc;
    }

    &:hover {
        width: 100%;
        border-radius: none;
        background-color: rgb(66, 65, 65);
    }
}
